<!-- <form [formGroup]="clienteForm" (ngSubmit)="enviarFormulario()">
  <label for="dni">DNI:</label>
  <input type="text" id="dni" formControlName="dni" />
  <div *ngIf="clienteForm.get('dni').hasError('required')">
    DNI es obligatorio
  </div>
  <div *ngIf="clienteForm.get('dni').hasError('pattern')">
    DNI debe tener 8 o 9 dígitos
  </div>

Repite el patrón para otros campos (nombre, nacimiento, domicilio) 

  <button type="submit" [disabled]="clienteForm.invalid">
    Crear Cliente
  </button>
</form> -->

<div class="card text-center">
  <div class="card-header card-header-rose">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Añadir Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

</div>