<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Usuarios Activos</h4>
    </div>
    <div class="card-body">
      <div class="table">
        <table class="table">
          <thead class="text-primary">
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Domicilio</th>
            <th>Fecha de nacimiento</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
